canvas {
    border: .5vw solid black;
    background-color: antiquewhite;
    width: 90%;
    height: 90%;
    display: block;
}

body {
    margin: 0;
    background-color: gray;
}

video {
    display: none;
}