canvas {
    border: .5vw solid black;
    background-color: antiquewhite;
    width: 98vw;
    height: 98vh;
    display: block;
}

body {
    margin: 0;
    background-color: greenyellow;
}

video {
    display: none;
}